In [1]:
import pandas as pd
import numpy as np

# Column Modification

In [2]:
df_2019 = pd.read_excel("01_Raw_data/201902_raw.xlsx")

In [3]:
df_2019.head()

,Origin terminal,Destination terminal,Modality,Carrier,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,Number of departures per week,Transport time (days),Comment
0,FR013 - France - Calais - Port Boulonge Calais,GB015 - United Kingdom - Dover - Port of Dover,Sea,P304 - P&O Ferries,27.0,28.0,28.0,28.0,28.0,27.0,24.0,190,1,Current sailing schedule (Jan 2019)
1,GB015 - United Kingdom - Dover - Port of Dover,FR013 - France - Calais - Port Boulonge Calais,Sea,P304 - P&O Ferries,26.0,28.0,28.0,28.0,28.0,26.0,26.0,190,1,Current sailing schedule (Jan 2019)
2,AT005 - Austria - Gries am Brenner - Brennersee,AT021 - Austria - Wörgl - Wörgl CCT,Rail,P195 - Rail Cargo Group,17.0,18.0,18.0,18.0,18.0,14.0,8.0,111,1,Current time schedule (January 2019) - ROLA
3,AT021 - Austria - Wörgl - Wörgl CCT,AT005 - Austria - Gries am Brenner - Brennersee,Rail,P195 - Rail Cargo Group,17.0,18.0,18.0,18.0,18.0,12.0,10.0,111,1,Current time schedule (January 2019) - ROLA
4,FR013 - France - Calais - Port Boulonge Calais,GB015 - United Kingdom - Dover - Port of Dover,Sea,P326 - DFDS Ferries,15.0,15.0,15.0,15.0,15.0,13.0,11.0,99,1,Current sailing schedule (Jan 2019)

In [4]:
# Replace NaN with 0
df_2019.fillna(0, inplace=True)

In [5]:
df_2019.head()

,Origin terminal,Destination terminal,Modality,Carrier,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,Number of departures per week,Transport time (days),Comment
0,FR013 - France - Calais - Port Boulonge Calais,GB015 - United Kingdom - Dover - Port of Dover,Sea,P304 - P&O Ferries,27.0,28.0,28.0,28.0,28.0,27.0,24.0,190,1,Current sailing schedule (Jan 2019)
1,GB015 - United Kingdom - Dover - Port of Dover,FR013 - France - Calais - Port Boulonge Calais,Sea,P304 - P&O Ferries,26.0,28.0,28.0,28.0,28.0,26.0,26.0,190,1,Current sailing schedule (Jan 2019)
2,AT005 - Austria - Gries am Brenner - Brennersee,AT021 - Austria - Wörgl - Wörgl CCT,Rail,P195 - Rail Cargo Group,17.0,18.0,18.0,18.0,18.0,14.0,8.0,111,1,Current time schedule (January 2019) - ROLA
3,AT021 - Austria - Wörgl - Wörgl CCT,AT005 - Austria - Gries am Brenner - Brennersee,Rail,P195 - Rail Cargo Group,17.0,18.0,18.0,18.0,18.0,12.0,10.0,111,1,Current time schedule (January 2019) - ROLA
4,FR013 - France - Calais - Port Boulonge Calais,GB015 - United Kingdom - Dover - Port of Dover,Sea,P326 - DFDS Ferries,15.0,15.0,15.0,15.0,15.0,13.0,11.0,99,1,Current sailing schedule (Jan 2019)

In [6]:
set(df_2019["Modality"])

{'Inland shipping', 'Rail', 'Sea'}

In [7]:
# Setting new Dataframe
columns_df_new = ["O_Country_ID", "O_Country", "O_Terminal", "D_Country_ID", "D_Country", "D_Terminal", "Modality", "Carrier_ID", 
          "Carrier", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday", "Departures_per_Week", 
           "Transport_Time(Days)", "Comment"]

In [8]:
# Save the expansion of column to temporary dataframe
df_new = df_2019["Origin terminal"].str.split(" - ", expand=True)
df_new_2 = df_2019["Destination terminal"].str.split(" - ", expand=True)
df_new_3 = df_2019["Carrier"].str.split(" - ", expand=True)

In [9]:
df_new.head()

       0               1                 2                     3     4
0  FR013          France            Calais  Port Boulonge Calais  None
1  GB015  United Kingdom             Dover         Port of Dover  None
2  AT005         Austria  Gries am Brenner            Brennersee  None
3  AT021         Austria             Wörgl             Wörgl CCT  None
4  FR013          France            Calais  Port Boulonge Calais  None

In [11]:
df_new.columns = ["O_Country_ID", "O_Country", "O_City", "O_Terminal", "Temp"]

In [68]:
df_new["O_Terminal"][df_new["Temp"].apply(str) != 'None'] = df_new["O_Terminal"].apply(str) + ' - ' + df_new["Temp"].apply(str)

In [72]:
# Drop the 5th column since the information has been integrated to the O_Terminal
df_new.drop("Temp", axis= 1, inplace=True)

In [73]:
df_new_2.columns = ["D_Country_ID", "D_Country", "D_City", "D_Terminal", "Temp_D"]

In [75]:
df_new_2["D_Terminal"][df_new_2["Temp_D"].apply(str) != 'None'] = df_new_2["D_Terminal"].apply(str) + ' - ' + df_new_2["Temp_D"].apply(str)

In [83]:
df_new_2.drop("Temp_D", axis=1, inplace=True)

In [78]:
df_new_3.columns = ["Carrier_ID", "Carrier", "Temp_C"]

In [82]:
#Merge carrier name to carrier column from temp table
df_new_3["Carrier"][df_new_3["Temp_C"].apply(str) != 'None'] = df_new_3["Carrier"].apply(str) + ' - ' + df_new_3["Temp_C"].apply(str)

In [84]:
df_new_3.drop("Temp_C", axis = 1, inplace = True)

In [104]:
df_new_4 = df_2019.iloc[:,2:]
df_new_4.drop("Carrier", axis = 1, inplace=True)

In [106]:
# Merge and concat all of the new table
df_2019_final = pd.concat([df_new, df_new_2, df_new_3, df_new_4], axis=1)

In [109]:
df_2019_final.head()

,O_Country_ID,O_Country,O_City,O_Terminal,D_Country_ID,D_Country,D_City,D_Terminal,Carrier_ID,Carrier,...,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,Number of departures per week,Transport time (days),Comment
0,FR024,France,Dourges,Lille Dourges Container Terminal (LDCT),FR083,France,Dunkerque,Nord France Terminal International (NFTI),P280,Nord Ports Shuttle,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,2,2,Current time schedule (Jan 2015)
1,FR030,France,Lille,Lille Conteneurs Terminal (LCT),FR083,France,Dunkerque,Nord France Terminal International (NFTI),P280,Nord Ports Shuttle,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,2,2,Current time schedule (Jan 2015)
2,FR083,France,Dunkerque,Nord France Terminal International (NFTI),FR024,France,Dourges,Lille Dourges Container Terminal (LDCT),P280,Nord Ports Shuttle,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,2,Current time schedule (Jan 2015)
3,FR083,France,Dunkerque,Nord France Terminal International (NFTI),FR024,France,Dourges,Lille Dourges Container Terminal (LDCT),P280,Nord Ports Shuttle,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1,1,Current time schedule (Jan 2015)
4,FR083,France,Dunkerque,Nord France Terminal International (NFTI),FR030,France,Lille,Lille Conteneurs Terminal (LCT),P280,Nord Ports Shuttle,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,2,Current time schedule (Jan 2015)

In [110]:
df_2019_final.to_excel("01_Raw_data/201902_raw_08042019.xlsx")