In [1]:
import pandas as pd
import numpy as np

# Data Modification

In [2]:
# 2017_10 data doesn't have ID field

In [3]:
df_2017_02 = pd.read_excel("01_Raw_data/201702_raw.xlsx")
df_2017_10 = pd.read_excel("01_Raw_data/201710_raw.xlsx")

In [4]:
df_2017_02.head()

,ID,Origin terminal,Destination terminal,Transportation mode,Carrier,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,Number of departures per week,Transport time (days)
0,10480,BE033 - Belgium - Antwerp - PSA Terminals (Noo...,NL050 - Netherlands - Terneuzen - Zeeland Cont...,Inland shipping,P238 - United Container Transport (UCT),1.0,1.0,1.0,1.0,1.0,NaN,NaN,5,1
1,10483,BE033 - Belgium - Antwerp - PSA Terminals (Noo...,NL087 - Netherlands - Terneuzen - Outokumpu Te...,Inland shipping,P238 - United Container Transport (UCT),1.0,1.0,1.0,1.0,1.0,NaN,NaN,5,1
2,10484,BE033 - Belgium - Antwerp - PSA Terminals (Noo...,NL088 - Netherlands - Terneuzen - Mammoet Mult...,Inland shipping,P238 - United Container Transport (UCT),1.0,1.0,1.0,1.0,1.0,NaN,NaN,5,1
3,10489,BE044 - Belgium - Antwerp - Associated Termina...,NL050 - Netherlands - Terneuzen - Zeeland Cont...,Inland shipping,P238 - United Container Transport (UCT),1.0,1.0,1.0,1.0,1.0,NaN,NaN,5,1
4,10492,BE044 - Belgium - Antwerp - Associated Termina...,NL087 - Netherlands - Terneuzen - Outokumpu Te...,Inland shipping,P238 - United Container Transport (UCT),1.0,1.0,1.0,1.0,1.0,NaN,NaN,5,1

In [5]:
df_2017_02.drop(labels=['ID'],axis=1, inplace=True)

In [6]:
df_2017_10.head()

,Origin terminal,Destination terminal,Transportation mode,Carrier,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,Number of departures per week,Transport time (days),Comment
0,BE033 - Belgium - Antwerp - PSA Terminals (Noo...,NL050 - Netherlands - Terneuzen - Zeeland Cont...,Inland shipping,P238 - United Container Transport (UCT),1.0,1.0,1.0,1.0,1.0,NaN,NaN,5,1,Current time schedule (Sep 2014)
1,BE033 - Belgium - Antwerp - PSA Terminals (Noo...,NL087 - Netherlands - Terneuzen - Outokumpu Te...,Inland shipping,P238 - United Container Transport (UCT),1.0,1.0,1.0,1.0,1.0,NaN,NaN,5,1,Current time schedule (Sep 2014)
2,BE033 - Belgium - Antwerp - PSA Terminals (Noo...,NL088 - Netherlands - Terneuzen - Mammoet Mult...,Inland shipping,P238 - United Container Transport (UCT),1.0,1.0,1.0,1.0,1.0,NaN,NaN,5,1,Current time schedule (Sep 2014)
3,BE044 - Belgium - Antwerp - Associated Termina...,NL050 - Netherlands - Terneuzen - Zeeland Cont...,Inland shipping,P238 - United Container Transport (UCT),1.0,1.0,1.0,1.0,1.0,NaN,NaN,5,1,Current time schedule (Sep 2014)
4,BE044 - Belgium - Antwerp - Associated Termina...,NL087 - Netherlands - Terneuzen - Outokumpu Te...,Inland shipping,P238 - United Container Transport (UCT),1.0,1.0,1.0,1.0,1.0,NaN,NaN,5,1,Current time schedule (Sep 2014)

In [7]:
df_2017_10.drop(labels=['Comment'],axis=1, inplace=True)

In [8]:
len(df_2017_02.columns)

13

In [9]:
len(df_2017_10.columns)

13

In [10]:
# Replace NaN with 0
df_2017_02.fillna(0, inplace=True)
df_2017_10.fillna(0, inplace=True)

In [11]:
set(df_2017_02["Transportation mode"])

{'Inland shipping', 'Rail', 'Sea'}

In [12]:
set(df_2017_10["Transportation mode"])

{'Inland shipping', 'Rail', 'Sea'}

In [13]:
# Save the expansion of column to temporary dataframe
df_2017_02_new = df_2017_02["Origin terminal"].str.split(" - ", expand=True)
df_2017_02_new_2 = df_2017_02["Destination terminal"].str.split(" - ", expand=True)
df_2017_02_new_3 = df_2017_02["Carrier"].str.split(" - ", expand=True)

In [14]:
# Save the expansion of column to temporary dataframe
df_2017_10_new = df_2017_10["Origin terminal"].str.split(" - ", expand=True)
df_2017_10_new_2 = df_2017_10["Destination terminal"].str.split(" - ", expand=True)
df_2017_10_new_3 = df_2017_10["Carrier"].str.split(" - ", expand=True)

In [15]:
df_2017_02_new.columns = ["O_Country_ID", "O_Country", "O_City", "O_Terminal", "Temp"]
df_2017_02_new_2.columns = ["D_Country_ID", "D_Country", "D_City", "D_Terminal", "Temp_D"]
df_2017_02_new_3.columns = ["Carrier_ID", "Carrier", "Temp_C"]
#Merge carrier name to carrier column from temp table

df_2017_02_new["O_Terminal"][df_2017_02_new["Temp"].apply(str) != 'None'] = df_2017_02_new["O_Terminal"].apply(str) + ' - ' + df_2017_02_new["Temp"].apply(str)
df_2017_02_new.drop("Temp", axis= 1, inplace=True)

df_2017_02_new_2["D_Terminal"][df_2017_02_new_2["Temp_D"].apply(str) != 'None'] = df_2017_02_new_2["D_Terminal"].apply(str) + ' - ' + df_2017_02_new_2["Temp_D"].apply(str)
df_2017_02_new_2.drop("Temp_D", axis=1, inplace=True)

df_2017_02_new_3["Carrier"][df_2017_02_new_3["Temp_C"].apply(str) != 'None'] = df_2017_02_new_3["Carrier"].apply(str) + ' - ' + df_2017_02_new_3["Temp_C"].apply(str)
df_2017_02_new_3.drop("Temp_C", axis = 1, inplace = True)

In [16]:
df_2017_10_new.columns = ["O_Country_ID", "O_Country", "O_City", "O_Terminal", "Temp"]
df_2017_10_new_2.columns = ["D_Country_ID", "D_Country", "D_City", "D_Terminal", "Temp_D"]
df_2017_10_new_3.columns = ["Carrier_ID", "Carrier", "Temp_C"]
#Merge carrier name to carrier column from temp table

df_2017_10_new["O_Terminal"][df_2017_10_new["Temp"].apply(str) != 'None'] = df_2017_10_new["O_Terminal"].apply(str) + ' - ' + df_2017_10_new["Temp"].apply(str)
df_2017_10_new.drop("Temp", axis= 1, inplace=True)

df_2017_10_new_2["D_Terminal"][df_2017_10_new_2["Temp_D"].apply(str) != 'None'] = df_2017_10_new_2["D_Terminal"].apply(str) + ' - ' + df_2017_10_new_2["Temp_D"].apply(str)
df_2017_10_new_2.drop("Temp_D", axis=1, inplace=True)

df_2017_10_new_3["Carrier"][df_2017_10_new_3["Temp_C"].apply(str) != 'None'] = df_2017_10_new_3["Carrier"].apply(str) + ' - ' + df_2017_10_new_3["Temp_C"].apply(str)
df_2017_10_new_3.drop("Temp_C", axis = 1, inplace = True)

In [17]:
# check df 4
# concat all
df_2017_02_new_4 = df_2017_02.iloc[:,2:]
df_2017_02_new_4.drop("Carrier", axis = 1, inplace=True)
# Merge and concat all of the new table
df_2017_02_final = pd.concat([df_2017_02_new, df_2017_02_new_2, df_2017_02_new_3, df_2017_02_new_4], axis=1)

In [18]:
# check df 4
# concat all
df_2017_10_new_4 = df_2017_10.iloc[:,2:]
df_2017_10_new_4.drop("Carrier", axis = 1, inplace=True)
# Merge and concat all of the new table
df_2017_10_final = pd.concat([df_2017_10_new, df_2017_10_new_2, df_2017_10_new_3, df_2017_10_new_4], axis=1)

# Merge the table

In [19]:
df_2017_02_final.head()

,O_Country_ID,O_Country,O_City,O_Terminal,D_Country_ID,D_Country,D_City,D_Terminal,Carrier_ID,Carrier,Transportation mode,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,Number of departures per week,Transport time (days)
0,BE033,Belgium,Antwerp,PSA Terminals (Noordzee / Europa / Deurganck),NL050,Netherlands,Terneuzen,Zeeland Container Terminal,P238,United Container Transport (UCT),Inland shipping,1.0,1.0,1.0,1.0,1.0,0.0,0.0,5,1
1,BE033,Belgium,Antwerp,PSA Terminals (Noordzee / Europa / Deurganck),NL087,Netherlands,Terneuzen,Outokumpu Terminal,P238,United Container Transport (UCT),Inland shipping,1.0,1.0,1.0,1.0,1.0,0.0,0.0,5,1
2,BE033,Belgium,Antwerp,PSA Terminals (Noordzee / Europa / Deurganck),NL088,Netherlands,Terneuzen,Mammoet Multipurpose Terminal Westdorpe,P238,United Container Transport (UCT),Inland shipping,1.0,1.0,1.0,1.0,1.0,0.0,0.0,5,1
3,BE044,Belgium,Antwerp,Associated Terminal Operator (ATO) (Quay 364),NL050,Netherlands,Terneuzen,Zeeland Container Terminal,P238,United Container Transport (UCT),Inland shipping,1.0,1.0,1.0,1.0,1.0,0.0,0.0,5,1
4,BE044,Belgium,Antwerp,Associated Terminal Operator (ATO) (Quay 364),NL087,Netherlands,Terneuzen,Outokumpu Terminal,P238,United Container Transport (UCT),Inland shipping,1.0,1.0,1.0,1.0,1.0,0.0,0.0,5,1

In [20]:
df_2017_10_final.head()

,O_Country_ID,O_Country,O_City,O_Terminal,D_Country_ID,D_Country,D_City,D_Terminal,Carrier_ID,Carrier,Transportation mode,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,Number of departures per week,Transport time (days)
0,BE033,Belgium,Antwerp,PSA Terminals (Noordzee / Europa / Deurganck),NL050,Netherlands,Terneuzen,Zeeland Container Terminal,P238,United Container Transport (UCT),Inland shipping,1.0,1.0,1.0,1.0,1.0,0.0,0.0,5,1
1,BE033,Belgium,Antwerp,PSA Terminals (Noordzee / Europa / Deurganck),NL087,Netherlands,Terneuzen,Outokumpu Terminal,P238,United Container Transport (UCT),Inland shipping,1.0,1.0,1.0,1.0,1.0,0.0,0.0,5,1
2,BE033,Belgium,Antwerp,PSA Terminals (Noordzee / Europa / Deurganck),NL088,Netherlands,Terneuzen,Mammoet Multipurpose Terminal Westdorpe,P238,United Container Transport (UCT),Inland shipping,1.0,1.0,1.0,1.0,1.0,0.0,0.0,5,1
3,BE044,Belgium,Antwerp,Associated Terminal Operator (ATO) (Quay 364),NL050,Netherlands,Terneuzen,Zeeland Container Terminal,P238,United Container Transport (UCT),Inland shipping,1.0,1.0,1.0,1.0,1.0,0.0,0.0,5,1
4,BE044,Belgium,Antwerp,Associated Terminal Operator (ATO) (Quay 364),NL087,Netherlands,Terneuzen,Outokumpu Terminal,P238,United Container Transport (UCT),Inland shipping,1.0,1.0,1.0,1.0,1.0,0.0,0.0,5,1

In [21]:
df_2017_02_final.columns

Index(['O_Country_ID', 'O_Country', 'O_City', 'O_Terminal', 'D_Country_ID',
       'D_Country', 'D_City', 'D_Terminal', 'Carrier_ID', 'Carrier',
       'Transportation mode', 'Monday', 'Tuesday', 'Wednesday', 'Thursday',
       'Friday', 'Saturday', 'Sunday', 'Number of departures per week',
       'Transport time (days)'],
      dtype='object')

In [22]:
df_2017_10_final.columns

Index(['O_Country_ID', 'O_Country', 'O_City', 'O_Terminal', 'D_Country_ID',
       'D_Country', 'D_City', 'D_Terminal', 'Carrier_ID', 'Carrier',
       'Transportation mode', 'Monday', 'Tuesday', 'Wednesday', 'Thursday',
       'Friday', 'Saturday', 'Sunday', 'Number of departures per week',
       'Transport time (days)'],
      dtype='object')

In [23]:
df_2017 = pd.concat([df_2017_02_final, df_2017_10_final], sort=False)

In [24]:
df_2017.drop_duplicates(inplace=True)

In [25]:
df_2017.reset_index(drop=True, inplace=True)

In [26]:
df_2017.to_excel("2017_raw_08062019.xlsx")