In [1]:
import pandas as pd
import numpy as np

In [2]:
# This Python has an intention to combine all 2016 file into one dataframe and shape it accordingly

# Column Modification

In [3]:
df_2016_02 = pd.read_excel("01_Raw_data/201602_raw.xlsx")

In [4]:
df_2016_08 = pd.read_excel("01_Raw_data/201608_raw.xlsx")

In [5]:
df_2016_02.head()

,ID,Origin country,Origin city,Origin terminal,Destination country,Destination city,Destination terminal,Transport modality,Carrier,D1,D2,D3,D4,D5,D6,D7,Frequency per week,Travel time (days)
0,8507,Poland,Gdansk,Gdansk Deepwater Container Terminal,Poland,Poznan,Terminal Kontenerowy Loconi Intermodal S.A.,Rail,Loconi,0,1,0,0,0,1,0,2,1
1,8508,Poland,Gdansk,Gdansk Deepwater Container Terminal,Poland,Radomsko,Terminal Kontenerowy Loconi Intermodal S.A.,Rail,Loconi,0,1,0,0,1,0,0,2,1
2,8509,Poland,Gdynia,Baltic Container Terminal,Poland,Warsaw,Terminal not specified,Rail,Loconi,1,0,0,1,0,0,0,2,1
3,8510,Poland,Gdynia,Baltic Container Terminal,Poland,Poznan,Terminal Kontenerowy Loconi Intermodal S.A.,Rail,Loconi,1,0,0,1,0,0,0,2,1
4,8511,Poland,Gdynia,Baltic Container Terminal,Poland,Radomsko,Terminal Kontenerowy Loconi Intermodal S.A.,Rail,Loconi,1,0,0,1,0,0,0,2,1

# Structure Modification of 2016_08 data

In [6]:
df_2016_08.head()

,ID,Origin terminal,Destination terminal,Transportation mode,Carrier,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,Number of departures per week,Transport time (days),Comment
0,8507,PL004 - Poland - Gdansk - Gdansk Deepwater Con...,PL052 - Poland - Poznan - Terminal Kontenerowy...,Rail,P230 - Loconi,NaN,1.0,NaN,NaN,NaN,1.0,NaN,2,1,Current time schedule (Oct 2014)
1,8508,PL004 - Poland - Gdansk - Gdansk Deepwater Con...,PL053 - Poland - Radomsko - Terminal Kontenero...,Rail,P230 - Loconi,NaN,1.0,NaN,NaN,1.0,NaN,NaN,2,1,Current time schedule (Oct 2014)
2,8509,PL006 - Poland - Gdynia - Baltic Container Ter...,PL046 - Poland - Warsaw - Terminal not specified,Rail,P230 - Loconi,1.0,NaN,NaN,1.0,NaN,NaN,NaN,2,1,Current time schedule (Oct 2014)
3,8510,PL006 - Poland - Gdynia - Baltic Container Ter...,PL052 - Poland - Poznan - Terminal Kontenerowy...,Rail,P230 - Loconi,1.0,NaN,NaN,1.0,NaN,NaN,NaN,2,1,Current time schedule (Oct 2014)
4,8511,PL006 - Poland - Gdynia - Baltic Container Ter...,PL053 - Poland - Radomsko - Terminal Kontenero...,Rail,P230 - Loconi,1.0,NaN,NaN,1.0,NaN,NaN,NaN,2,1,Current time schedule (Oct 2014)

In [7]:
# Replace NaN with 0
df_2016_08.fillna(0, inplace=True)

In [8]:
set(df_2016_08["Transportation mode"])

{'Inland shipping', 'Rail', 'Sea'}

In [9]:
# Setting new Dataframe
columns_df_2016_08_new = ['ID',"O_Country_ID", "O_Country", "O_Terminal", "D_Country_ID", "D_Country", "D_Terminal", "Modality", "Carrier_ID", 
          "Carrier", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday", "Departures_per_Week", 
           "Transport_Time(Days)", "Comment"]

In [10]:
# Save the expansion of column to temporary dataframe
df_new = df_2016_08["Origin terminal"].str.split(" - ", expand=True)
df_new_2 = df_2016_08["Destination terminal"].str.split(" - ", expand=True)
df_new_3 = df_2016_08["Carrier"].str.split(" - ", expand=True)

In [11]:
df_new.head()

       0       1       2                                    3
0  PL004  Poland  Gdansk  Gdansk Deepwater Container Terminal
1  PL004  Poland  Gdansk  Gdansk Deepwater Container Terminal
2  PL006  Poland  Gdynia            Baltic Container Terminal
3  PL006  Poland  Gdynia            Baltic Container Terminal
4  PL006  Poland  Gdynia            Baltic Container Terminal

In [12]:
df_new.columns = ["O_Country_ID", "O_Country", "O_City", "O_Terminal"]

In [13]:
df_new_2.head()

       0       1         2                                            3
0  PL052  Poland    Poznan  Terminal Kontenerowy Loconi Intermodal S.A.
1  PL053  Poland  Radomsko  Terminal Kontenerowy Loconi Intermodal S.A.
2  PL046  Poland    Warsaw                       Terminal not specified
3  PL052  Poland    Poznan  Terminal Kontenerowy Loconi Intermodal S.A.
4  PL053  Poland  Radomsko  Terminal Kontenerowy Loconi Intermodal S.A.

In [14]:
df_new_2.columns = ["D_Country_ID", "D_Country", "D_City", "D_Terminal"]

In [15]:
df_new_3.head()

      0       1     2
0  P230  Loconi  None
1  P230  Loconi  None
2  P230  Loconi  None
3  P230  Loconi  None
4  P230  Loconi  None

In [16]:
df_new_3.columns = ["Carrier_ID", "Carrier", "Temp_C"]

In [17]:
#Merge carrier name to carrier column from temp table
df_new_3["Carrier"][df_new_3["Temp_C"].apply(str) != 'None'] = df_new_3["Carrier"].apply(str) + ' - ' + df_new_3["Temp_C"].apply(str)

In [18]:
df_new_3.drop("Temp_C", axis = 1, inplace = True)

In [19]:
df_2016_08.columns

Index(['ID', 'Origin terminal', 'Destination terminal', 'Transportation mode',
       'Carrier', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       'Saturday', 'Sunday', 'Number of departures per week',
       'Transport time (days)', 'Comment'],
      dtype='object')

In [20]:
df_new_4 = df_2016_08.iloc[:,:]
df_new_4.drop(['Origin terminal', 'Destination terminal', 'Carrier','Comment'], axis = 1, inplace=True)

In [21]:
df_new_4.head()

,ID,Transportation mode,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,Number of departures per week,Transport time (days)
0,8507,Rail,0.0,1.0,0.0,0.0,0.0,1.0,0.0,2,1
1,8508,Rail,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2,1
2,8509,Rail,1.0,0.0,0.0,1.0,0.0,0.0,0.0,2,1
3,8510,Rail,1.0,0.0,0.0,1.0,0.0,0.0,0.0,2,1
4,8511,Rail,1.0,0.0,0.0,1.0,0.0,0.0,0.0,2,1

In [22]:
# Merge and concat all of the new table
df_2016_08_final = pd.concat([df_new, df_new_2, df_new_3, df_new_4], axis=1)

# Merge dataframe 2016_08 and 2016_02

In [23]:
# Standarizing all columns

In [24]:
# Drop the unavailable columns - origin country ID and destination country ID
df_2016_08_final.drop(['O_Country_ID','D_Country_ID'], axis= 1, inplace=True)

In [25]:
df_2016_08_final.drop(['Carrier_ID'], axis= 1, inplace=True)

In [26]:
df_2016_02.columns = ['ID', 'O_Country', 'O_City', 'O_Terminal',
       'D_Country', 'D_City', 'D_Terminal',
       'Transportation mode', 'Carrier', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       'Saturday', 'Sunday', 'Number of departures per week',
       'Transport time (days)']

In [27]:
df_2016_02.head()

,ID,O_Country,O_City,O_Terminal,D_Country,D_City,D_Terminal,Transportation mode,Carrier,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,Number of departures per week,Transport time (days)
0,8507,Poland,Gdansk,Gdansk Deepwater Container Terminal,Poland,Poznan,Terminal Kontenerowy Loconi Intermodal S.A.,Rail,Loconi,0,1,0,0,0,1,0,2,1
1,8508,Poland,Gdansk,Gdansk Deepwater Container Terminal,Poland,Radomsko,Terminal Kontenerowy Loconi Intermodal S.A.,Rail,Loconi,0,1,0,0,1,0,0,2,1
2,8509,Poland,Gdynia,Baltic Container Terminal,Poland,Warsaw,Terminal not specified,Rail,Loconi,1,0,0,1,0,0,0,2,1
3,8510,Poland,Gdynia,Baltic Container Terminal,Poland,Poznan,Terminal Kontenerowy Loconi Intermodal S.A.,Rail,Loconi,1,0,0,1,0,0,0,2,1
4,8511,Poland,Gdynia,Baltic Container Terminal,Poland,Radomsko,Terminal Kontenerowy Loconi Intermodal S.A.,Rail,Loconi,1,0,0,1,0,0,0,2,1

In [28]:
len(df_2016_08_final)

12778

In [29]:
len(df_2016_02)

12968

In [30]:
# Combine to dataframe and eliminate the duplicates

In [31]:
df_2016 = pd.concat([df_2016_08_final, df_2016_02], sort=False)

In [37]:
df_2016.drop_duplicates(inplace=True)

In [41]:
df_2016.reset_index(drop=True, inplace=True)

In [43]:
df_2016.head()

,O_Country,O_City,O_Terminal,D_Country,D_City,D_Terminal,Carrier,ID,Transportation mode,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,Number of departures per week,Transport time (days)
0,Poland,Gdansk,Gdansk Deepwater Container Terminal,Poland,Poznan,Terminal Kontenerowy Loconi Intermodal S.A.,Loconi,8507,Rail,0.0,1.0,0.0,0.0,0.0,1.0,0.0,2,1
1,Poland,Gdansk,Gdansk Deepwater Container Terminal,Poland,Radomsko,Terminal Kontenerowy Loconi Intermodal S.A.,Loconi,8508,Rail,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2,1
2,Poland,Gdynia,Baltic Container Terminal,Poland,Warsaw,Terminal not specified,Loconi,8509,Rail,1.0,0.0,0.0,1.0,0.0,0.0,0.0,2,1
3,Poland,Gdynia,Baltic Container Terminal,Poland,Poznan,Terminal Kontenerowy Loconi Intermodal S.A.,Loconi,8510,Rail,1.0,0.0,0.0,1.0,0.0,0.0,0.0,2,1
4,Poland,Gdynia,Baltic Container Terminal,Poland,Radomsko,Terminal Kontenerowy Loconi Intermodal S.A.,Loconi,8511,Rail,1.0,0.0,0.0,1.0,0.0,0.0,0.0,2,1

In [44]:
df_2016.to_excel("2016_raw_08062019.xlsx")